[submodule "source"]
	path = source
	url = https://github.com/is373-mob/content.git
[submodule "playwright"]
	path = playwright
	url = https://github.com/is373-mob/playwright.git
[submodule "themes/landscape"]
	path = themes/landscape
	url = https://github.com/is373-mob/hexo-theme-landscape.git
